/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
  font-family: 'El Messiri', sans-serif;
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }

a:link,
a:visited {
  text-decoration: none;
  color: #ffffff; }

.amiri {
  font-family: 'Amiri',serif; }

.header {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative; }
  .header__introudction {
    margin-top: 20rem;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin-bottom: 5rem; }
    @media (max-width: 37.5em) {
      .header__introudction {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .header__main {
    font-family: 'Fraunces',serif;
    font-size: 4rem;
    display: inline-block;
    width: 50rem;
    font-weight: 300;
    text-align: start;
    text-align: center; }
    @media (max-width: 46.25em) {
      .header__main {
        margin-right: 0;
        margin-bottom: 2rem;
        width: 35rem; }
        .header__main span {
          display: none; } }
  .header__lang {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header__skills {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem; }
    @media (max-width: 37.5em) {
      .header__skills {
        font-size: 2.2rem;
        width: auto; } }
  .header__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 4rem; }
    @media (max-width: 37.5em) {
      .header__icons {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  .header__icon {
    margin-left: 3rem;
    width: 4rem;
    height: 4rem;
    margin-bottom: 5rem; }
    @media (max-width: 37.5em) {
      .header__icon {
        width: 4rem;
        height: 4rem;
        margin-top: 2rem; } }

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  font-family: 'Fraunces',serif; }
  .service__header {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 4rem; }
  .service__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (max-width: 56.25em) {
      .service__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .service__text {
    margin-top: 4rem;
    width: 70rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 75em) {
      .service__text {
        width: 25rem;
        margin-right: 15rem; } }
    @media (max-width: 56.25em) {
      .service__text {
        margin-right: 0;
        margin-bottom: 5rem;
        width: 100%; } }
  .service__header-secondery {
    font-size: 4rem;
    margin-bottom: 3rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Fraunces',serif; }
    @media (max-width: 75em) {
      .service__header-secondery {
        font-size: 2.5rem; } }
    @media (max-width: 56.25em) {
      .service__header-secondery {
        font-size: 3.5rem; } }
  .service__parg {
    font-size: 3rem;
    font-family: 'Amiri',serif;
    width: 50rem;
    text-align: center;
    font-family: 700; }
    @media (max-width: 75em) {
      .service__parg {
        font-size: 2.2rem; } }
    @media (max-width: 56.25em) {
      .service__parg {
        font-size: 2.5rem;
        width: 35rem; } }
  .service__sub {
    font-size: 2.6rem;
    font-family: 'Amiri',serif;
    width: 50rem;
    text-align: center;
    font-family: 700;
    margin-bottom: 3rem; }
    @media (max-width: 46.25em) {
      .service__sub {
        font-size: 2.2rem;
        width: 30rem; } }
  .service__icon {
    width: 55rem; }
    @media (max-width: 75em) {
      .service__icon {
        width: 40rem; } }
    @media (max-width: 56.25em) {
      .service__icon {
        width: 30rem; } }

.project {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .project__header {
    font-size: 3.5rem;
    font-family: 'Fraunces',serif;
    font-weight: 600;
    margin-bottom: 4rem; }

.footer {
  width: 100%;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  padding: 3%; }
  @media (max-width: 46.25em) {
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .footer h1 {
    font-size: 3rem;
    -ms-flex-item-align: end;
        align-self: flex-end; }
    @media (max-width: 46.25em) {
      .footer h1 {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        margin-bottom: 2rem; } }
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 46.25em) {
      .footer__contact {
        margin-bottom: 2rem; } }
    .footer__contact h3 {
      font-size: 3rem; }
    .footer__contact h4 {
      font-size: 2rem; }

.socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .socialmedia h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem; }

.icon {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem; }
  @media (max-width: 46.25em) {
    .icon {
      margin-bottom: 4rem; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8rem;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  z-index: 50;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  overflow: hidden; }
  @media (max-width: 46.25em) {
    .nav {
      position: fixed;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      margin-bottom: 1rem;
      background-color: transparent;
      height: auto;
      padding-top: 0; } }
  .nav__logo h1 {
    font-size: 2rem;
    font-weight: 700; }
  .nav__logo {
    margin-left: 5rem;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
    @media (max-width: 46.25em) {
      .nav__logo {
        padding: 2rem;
        background-color: #000000;
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
        width: 100%;
        margin-right: 0;
        text-align: start;
        height: 100%; } }
  .nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-right: 5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 2rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    @media (max-width: 46.25em) {
      .nav__items {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        display: none;
        width: 20rem;
        background-color: #3d59a7;
        -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
                box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2); } }
  .nav__item {
    padding-left: 4rem;
    font-weight: 500; }
    @media (max-width: 46.25em) {
      .nav__item {
        margin-top: 1rem;
        padding: 0;
        color: #ffffff;
        padding-right: 2rem;
        margin-bottom: 1.5rem; } }
  .nav__link:link, .nav__link:visited {
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;
    opacity: 70%; }
    @media (max-width: 37.5em) {
      .nav__link:link, .nav__link:visited {
        opacity: 100%;
        font-size: 2.5rem; } }
  .nav__link:hover, .nav__link:active {
    opacity: 100%; }
  .nav__icon {
    display: none; }
    @media (max-width: 46.25em) {
      .nav__icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 4rem;
        height: 4rem;
        background-color: #ffffff;
        border-radius: 10rem;
        -webkit-box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.3);
                box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.3);
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        position: fixed;
        margin-bottom: 2rem;
        top: 1.5rem;
        right: 3rem;
        border: none; }
        .nav__icon:focus {
          outline: none; }
        .nav__icon:active {
          -webkit-transform: translateY(2px);
              -ms-transform: translateY(2px);
                  transform: translateY(2px); } }
  .nav__hum {
    width: 2.5rem;
    height: 2.5rem; }

.nav-colored {
  background-color: #000000; }
  @media (max-width: 46.25em) {
    .nav-colored {
      background-color: transparent; } }

.nav-transparent {
  background-color: transparent; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  margin-right: 5rem;
  border: 1px solid #707070;
  font-family: 'Fraunces',serif;
  margin-bottom: 5rem;
  -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3); }
  @media (max-width: 46.25em) {
    .card {
      margin-right: 2rem;
      margin-left: 2rem;
      width: 320px; } }
  @media (max-width: 37.5em) {
    .card {
      margin-right: 2rem;
      margin-left: 2rem;
      width: 290px; } }
  .card__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .card__img {
    width: 350px;
    height: 340px;
    margin-bottom: 3rem; }
    @media (max-width: 46.25em) {
      .card__img {
        width: 320px;
        height: 310px; } }
    @media (max-width: 37.5em) {
      .card__img {
        margin-right: 0;
        width: 290px;
        height: 280px; } }
  .card__header {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 4rem; }
  .card__prag {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    display: inline-block;
    width: 70%;
    height: 3rem;
    margin-bottom: 4rem; }
  .card__btn, .card__btn:visited, .card__btn:link {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 16rem;
    height: 4rem;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, right top, from(#FF5E62), to(#FF9966));
    background-image: -o-linear-gradient(left, #FF5E62, #FF9966);
    background-image: linear-gradient(90deg, #FF5E62, #FF9966);
    -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.3);
            box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    margin-bottom: 2rem;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
  .card__btn:hover {
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px); }
  .card__btn:active {
    -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
            transform: translateY(-1px); }