.amiri{
    font-family: 'Amiri',serif;

}

.header{
    // background-image: linear-gradient(90deg,rgba(#000000,0.5),rgba(#000000,0.5)),url('../img/christopher-gower-m_HRfLhgABo-unsplash.jpg');
   background-color: #000;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    @include responed(small-tablet){
            flex-direction: column;
            align-items: center;
    }
    &__slide{
        width: 30%;
        @include responed(small-phone){
            position: relative;
        }
        @include responed(small-tablet){
            width: 60%;
            position: relative;
            &::after{
                content: attr(data-style-type);
                color: #fff;
                position: absolute;
                font-family: sans-serif;
                font-weight: 700;
                font-size: 3rem;
                width: 90.5%;
                height: 45rem;
                border-radius: 34px;
                top: 23rem;
                left: -0.5%;
                text-align: center;
                align-items: center;
                display: flex;
                justify-content: center;
                background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
        
            }
        }
        @include responed(phone){
            &::after{
            width: 30.5rem;
            height: 25rem;
            }
        }
      
        

    }
    &__dots{
        display: flex;
        justify-content: center;
        padding-bottom: 4rem;
        display: none;
        @include responed(phone){
            display: flex;
        }


    }
    &__dot{
        cursor: pointer;
        height: 2rem;
        width: 2rem;
        margin: 0 2px;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        margin-left: 1rem;
      }
      .active {
        background-color: #4C3197;
      }

    &__img{
        width: 80%;
        height: 30rem;
        margin-top:23rem;
        position: relative;
        // background-image: url('../img/header-2.jpg');
        background-position: center;
        background-size: cover;
        image-rendering: pixelated;
        border-radius: 4rem;
        box-shadow: 18px 19px 12px 1px #6DA9E4;
        &-ar{
            margin-left: 10rem;
        }
        @include responed(tablet-landscape){
            width: 100%;
            height: 45rem;
            margin-right: 10rem;
            &-ar{
                margin-right: 0;
                margin-left: 10rem;
            }
        }
        
        @include responed(tablet-port){
            margin-right: 5rem;
            width: 90%;
            height: 30rem;
            &-ar{
                margin-right: 0;
                margin-left: 5rem;
            }
        }
        @include responed(small-tablet){
            margin-right: 0;
            height: 45rem;
            &-ar{
                margin-left: 0;
            }
            
        }
        @include responed(phone){
            width: 30rem;
            height: 25rem;

         
        }
        @include responed(small-phone){
            object-fit: cover;
   opacity: 0.4;
   margin-right: 0;

        }
    }
    &__introudction{
       
       margin-top: 20rem;
        color: #ffffff;
        display: flex;
        @include responed(small-tablet){
            order:2;
        }
        @include responed(phone){
            margin-top: 8rem;
        }
        // justify-content: center;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
            width: 70%;
            margin-bottom: 5rem;
            &-ar{
                order: 2;
                align-items: flex-end;
                
            }
            @include responed(phone){
                flex-direction: column;
                align-items: center;
            }

    }
    &__color{
        color: #F97B22;
    }
    &__main{
        font-family: 'Fraunces',serif;
        font-size: 4rem;
        display: inline-block;
        width: 90%;
        font-weight: 300;
        // text-align: start;
        // text-align: center;
        text-align: start;
        line-height: 6rem;
        font-weight: 600;
        font-size: 4rem;
        font-family: sans-serif;
        margin-left: 4rem;
        margin-bottom: 6rem;
        &-ar{
            margin-left:0;
            margin-right:4rem;
            text-align: end;
        }
      
       
        @include responed(small-tablet){
         margin-right: 0;
         margin-bottom: 2rem;
         width: 50rem;
       

        }
        @include responed(phone){
            margin-left: 0;
            width: 90%;
         }
         @include responed(small-phone){
            margin-left: 0;
            width: 100%;
         }
         
       
    }
   &__sub{
    font-size: 2rem;
    font-weight: initial;
    color: #fff;
    margin-left: 4rem;
    width: 50%;
    margin-bottom: 4rem;
    @include responed(phone){
        width: 90%;
        margin-left: 0;
     }
     @include responed(small-phone){
        margin-left: 0;
        width: 100%;
     }
     &-ar{
        text-align: end;
        margin-left: 0;
        margin-right:4rem;
     }
   }
   &__btn{
    font-size: 1.8rem;
    font-weight: bold;
    width: 16rem;
    height: 5rem;
    background-color: #F97B22;
    color: #fff;
    margin-left: 4rem;
    border-radius: 8px;
    box-shadow: 1rem 1rem 1rem rgba($color: #000000, $alpha: 0.4);
    margin-bottom: 3rem;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    align-self: flex-start;
    &-ar{
        align-self: flex-end;
        margin-right: 4rem;
        margin-left: 0;
        text-align: end;
    }
    @include responed(small-phone){
        margin-left: 0;
        &-ar{
           margin-right:0;
        }
        
     }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #F97B22;
      
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken(#F97B22, 15%);
      transition: all .3s;
      
      z-index: -1;
    }
    
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
   }
   &__link:visited,&__link:link{
    text-align: center;
    display: inline-block;
    width: 100%;
   }
   
    
    &__lang{
        
        color: #ffffff;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    &__skills{
        font-size: 2.8rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 2rem;
        @include responed(phone){
           font-size: 2.2rem;
           width: auto;
            
           }
        


    }
    &__icons{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    @include responed(phone){
       flex-wrap: wrap;
     
          
         }
    }
    &__icon{
        margin-left: 3rem;
        width: 4rem;
        height: 4rem;
        margin-bottom: 5rem;
        
        @include responed(phone){
           width: 4rem;
           height: 4rem;
           margin-top: 2rem;
        
             
            }

    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
////////////////////////servecics




.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    font-family: 'Fraunces',serif;

 &__header{
   
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 4rem;

 }
 &__container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  @include responed(tablet-port){
        flex-direction: column;
        align-items: center;
      
}

  

 }
 &__text{
    
  
    margin-top: 4rem;
   
    width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include responed(tablet-landscape){
        width: 25rem;
        margin-right: 15rem;
    }
    @include responed(tablet-port){
        margin-right: 0;
        margin-bottom: 5rem;
        width: 100%;
        
        
      
    }
    

     
 }
 &__header-secondery{
     font-size: 4rem;
     margin-bottom: 3rem;
     font-weight: 600;
     text-align: center;
     font-family: 'Fraunces',serif;
     @include responed(tablet-landscape){
        font-size: 2.5rem;
    }
    @include responed(tablet-port){
       font-size: 3.5rem;
        
        
      
    }
 }
 &__parg{
    font-size: 1.8rem;
    font-family: 'Amiri',serif;
    width: 50rem;
    text-align: left;
    font-family: 700;
    &-ar{
        text-align: end;
    }
     @include responed(tablet-landscape){
        font-size: 2.2rem;
    }
    @include responed(tablet-port){
      font-size: 2.5rem;
        width: 70%;
        
      
    }
    @include responed(phone){
        font-size: 2rem;
          width: 80%;
          
        
      }
    @include responed(small-phone){
        font-size: 1.8rem;
          width: 90%;
          
        
      }
 }
 &__sub{
    font-size: 2.6rem;
    font-family: 'Amiri',serif;
    width: 50rem;

    text-align: center;
    font-family: 700;
    margin-bottom: 3rem;
    @include responed(small-tablet){
       font-size: 2.2rem;
       width: 30rem;

        
       }
    }
 &__icon{
     width: 60rem;
     @include responed(tablet-landscape){
         width: 50rem;
     }
     @include responed(tablet-port){
        width: 55rem;
       
    }
    @include responed(small-phone){
        width: 40rem;
       
    }
 }

}

/////////////project
.project{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    &__header{
        font-size: 3.5rem;
        font-family: 'Fraunces',serif;
        font-weight: 600;
        margin-bottom: 4rem;

    }

}









//////////////////footer
.footer{
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 6%;
         &__wrapper{
            width: 100%;
            background-color: #000;
            display: flex;
            justify-content:space-between;
            color: #ffffff;
          
            margin-bottom:3rem;
            @include responed(small-tablet){
               flex-direction: column;
               align-items: center;
               justify-content: center;
             
                  
                 }
         }
         &__text{
            width: 40%;
            &-ar{
                order:5;
                text-align: end;
            }
            @include responed(small-tablet){
                width: 50%;
                text-align: center;
                margin-bottom: 4rem;
                &-ar{
                    order:0;
                    text-align: center;
                }
            }
          
            @include responed(small-phone){
                width: 80%;
                text-align: center;
                margin-bottom: 4rem;
               
            }
         }
         &__header{
            font-family: sans-serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
         }
         &__parg{
            font-size: 1.6rem;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         }
    & h1{
        font-size: 3rem;
        align-self: flex-end;
       
        @include responed(small-tablet){
            align-self: center;
            margin-bottom: 2rem;
        }
    }
    &__contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        @include responed(small-tablet){
            
            margin-bottom: 2rem;
        }
        h3{
            margin-bottom: 1.5rem;
            font-size: 3rem;


        }
        h4{
            font-size: 2rem;
        }
    }
    &__lower{
        border-top: 1px solid #444;
        color: #eee;
        font-size: 1.2rem;
        text-align: left;
        text-align: center;
        width: 100%;
        padding:6rem;
    }
}

.socialmedia{
    display: flex;
    flex-direction: column;
    align-items: center;
   
 
    & h1{
        font-size: 2.5rem;
        margin-bottom: 3rem;
        font-family: serif;
        align-self: flex-start;
    }

}
.icon{
  width:3rem;
  height: 3rem;
  margin-right: 1rem;
  @include responed(small-tablet){
       
    margin-bottom: 4rem;
}
}

