.amiri{
    font-family: 'Amiri',serif;

}

.header{
    background-image: linear-gradient(90deg,rgba(#000000,0.5),rgba(#000000,0.5)),url('../img/christopher-gower-m_HRfLhgABo-unsplash.jpg');
   
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    
    
    &__introudction{
       margin-top: 20rem;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: flex-start;
            width: 100%;
            margin-bottom: 5rem;
            @include responed(phone){
                flex-direction: column;
                align-items: center;
            }

    }
    &__main{
        font-family: 'Fraunces',serif;
        font-size: 4rem;
        display: inline-block;
        width: 50rem;
        font-weight: 300;
        text-align: start;
        text-align: center;
       
        @include responed(small-tablet){
         margin-right: 0;
         margin-bottom: 2rem;
         width: 35rem;
         & span{
             display: none;
         }

        }
       
    }
   

    
    &__lang{
        
        color: #ffffff;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    &__skills{
        font-size: 2.8rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 2rem;
        @include responed(phone){
           font-size: 2.2rem;
           width: auto;
            
           }
        


    }
    &__icons{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    @include responed(phone){
       flex-wrap: wrap;
     
          
         }
    }
    &__icon{
        margin-left: 3rem;
        width: 4rem;
        height: 4rem;
        margin-bottom: 5rem;
        
        @include responed(phone){
           width: 4rem;
           height: 4rem;
           margin-top: 2rem;
        
             
            }

    }
}


////////////////////////servecics




.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    font-family: 'Fraunces',serif;

 &__header{
   
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 4rem;

 }
 &__container{
  display: flex;
  width: 100%;
  justify-content: center;
  @include responed(tablet-port){
        flex-direction: column;
        align-items: center;
      
}

  

 }
 &__text{
    
  
    margin-top: 4rem;
   
    width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include responed(tablet-landscape){
        width: 25rem;
        margin-right: 15rem;
    }
    @include responed(tablet-port){
        margin-right: 0;
        margin-bottom: 5rem;
        width: 100%;
        
        
      
    }
    

     
 }
 &__header-secondery{
     font-size: 4rem;
     margin-bottom: 3rem;
     font-weight: 600;
     text-align: center;
     font-family: 'Fraunces',serif;
     @include responed(tablet-landscape){
        font-size: 2.5rem;
    }
    @include responed(tablet-port){
       font-size: 3.5rem;
        
        
      
    }
 }
 &__parg{
    font-size: 3rem;
    font-family: 'Amiri',serif;
    width: 50rem;
    text-align: center;
    font-family: 700;
     @include responed(tablet-landscape){
        font-size: 2.2rem;
    }
    @include responed(tablet-port){
      font-size: 2.5rem;
        width: 35rem;
        
      
    }
 }
 &__sub{
    font-size: 2.6rem;
    font-family: 'Amiri',serif;
    width: 50rem;

    text-align: center;
    font-family: 700;
    margin-bottom: 3rem;
    @include responed(small-tablet){
       font-size: 2.2rem;
       width: 30rem;

        
       }
    }
 &__icon{
     width: 55rem;
     @include responed(tablet-landscape){
         width: 40rem;
     }
     @include responed(tablet-port){
        width: 30rem;
       
    }
 }

}

/////////////project
.project{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header{
        font-size: 3.5rem;
        font-family: 'Fraunces',serif;
        font-weight: 600;
        margin-bottom: 4rem;

    }

}









//////////////////footer
.footer{
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding: 3%;
    @include responed(small-tablet){
       flex-direction: column;
       align-items: center;
       justify-content: center;
     
          
         }
    & h1{
        font-size: 3rem;
        align-self: flex-end;
        @include responed(small-tablet){
            align-self: center;
            margin-bottom: 2rem;
        }
    }
    &__contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include responed(small-tablet){
            
            margin-bottom: 2rem;
        }
        h3{
            font-size: 3rem;


        }
        h4{
            font-size: 2rem;
        }
    }
}

.socialmedia{
    display: flex;
    flex-direction: column;
    align-items: center;
 
    & h1{
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

}
.icon{
  width:3rem;
  height: 3rem;
  margin-right: 1rem;
  @include responed(small-tablet){
       
    margin-bottom: 4rem;
}
}

